In [31]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [6]:
import requests
from urllib import parse

url = 'end_url'
key = "my_key" 

hs = ['8479501000','8479502000','8479509000','8515211010','8515212010','8515213010','8515219010','8515311010','8515319010','8486309020','8424202010','8479892010','8479892090','8428701000','8427103000','8428702000','8428709000','8508111000','8508192000']
data=[]
for i in hs:
    queryParams = f'?{parse.quote_plus("serviceKey")}={key}&'+parse.urlencode({parse.quote_plus('strtYymm'):'202201',
                                                                               parse.quote_plus('endYymm'):'202212',
                                                                               parse.quote_plus('hsSgn'):i,
                                                                               parse.quote_plus('cntyCd'):''})

    request2 = requests.get(url + queryParams)
    # print(request2.text)

    # XML 파싱
    root = ET.fromstring(request2.text)

    # 데이터 추출
    for item in root.findall('.//item'):
        row = {
            'balPayments': item.find('balPayments').text,
            'expDlr': item.find('expDlr').text,
            'expWgt': item.find('expWgt').text,
            'hsCd': item.find('hsCd').text,
            'impDlr': item.find('impDlr').text,
            'impWgt': item.find('impWgt').text,
            'statCd': item.find('statCd').text,
            'statCdCntnKor1': item.find('statCdCntnKor1').text,
            'statKor': item.find('statKor').text,
            'year': item.find('year').text,
        }
        data.append(row)

# 데이터 프레임 생성
df = pd.DataFrame(data)
df
df.to_csv('data.csv', index=False)
df.to_excel('data.xlsx', index=False)

In [2]:
re_data=pd.read_csv('data.csv')
re_data

,balPayments,expDlr,expWgt,hsCd,impDlr,impWgt,statCd,statCdCntnKor1,statKor,year
0,-7585823,5262184,369060,-,12848007,189429,-,-,-,총계
1,-549314,0,0,8479501000,549314,17720,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
2,-34934,0,0,8479501000,34934,655,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
3,759856,759856,19419,8479501000,0,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
4,-256494,0,0,8479501000,256494,1071,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
...,...,...,...,...,...,...,...,...,...,...
1466,-1810,251,4,8508192000,2061,76,US,미국,로봇형,2022.11
1467,-114257,0,0,8508192000,114257,14478,CN,중국,로봇형,2022.12
1468,-364,0,0,8508192000,364,2,JP,일본,로봇형,2022.12
1469,226,226,3,8508192000,0,0,SG,싱가포르,로봇형,2022.12
1470,-506,0,0,8508192000,506,7,US,미국,로봇형,2022.12

In [3]:
data_2022=re_data.drop(['expWgt','impWgt'], axis=1)
data_2022

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year
0,-7585823,5262184,-,12848007,-,-,-,총계
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01
...,...,...,...,...,...,...,...,...
1466,-1810,251,8508192000,2061,US,미국,로봇형,2022.11
1467,-114257,0,8508192000,114257,CN,중국,로봇형,2022.12
1468,-364,0,8508192000,364,JP,일본,로봇형,2022.12
1469,226,226,8508192000,0,SG,싱가포르,로봇형,2022.12
1470,-506,0,8508192000,506,US,미국,로봇형,2022.12

In [15]:
data_2022['statKor'].value_counts()

기타                                                                                         507
로봇형                                                                                        454
인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것                                                            206
제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89-9030호, 제8479.89-9060호, 제8479.89-9091호의 것     98
기타                                                                                          81
무인운반로봇(A.G.V.)                                                                              40
무인운반로봇(제8427호의 것을 제외한다)                                                                     29
적재용 로봇(소호 제8479.50호의 것은 제외한다)                                                               25
-                                                                                           18
제8479.89-9080호의 것                                                                           13
Name: statKor, dtype: int64

In [4]:
data_2022['분류'] = 0

In [5]:
data_2022.loc[data_2022['hsCd'] == '8479501000', '분류'] = '산업용 로보트'
data_2022.loc[data_2022['hsCd'] == '8479502000', '분류'] = '산업용 로보트'
data_2022.loc[data_2022['hsCd'] == '8479509000', '분류'] = '기타 산업용 로봇'
data_2022.loc[data_2022['hsCd'] == '8515211010', '분류'] = '관용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8515212010', '분류'] = '봉합용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8515213010', '분류'] = '바트용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8515219010', '분류'] = '저항용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8515311010', '분류'] = '교류아크용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8515319010', '분류'] = '기타 아크용접 로봇'
data_2022.loc[data_2022['hsCd'] == '8486309020', '분류'] = "평판디스플레이 로봇('22년 삭제)"
data_2022.loc[data_2022['hsCd'] == '8424202010', '분류'] = '도장 로봇'
data_2022.loc[data_2022['hsCd'] == '8479892010', '분류'] = '전자부품장착기(SMT)'
data_2022.loc[data_2022['hsCd'] == '8479892090', '분류'] = '기타 전자부품장착기(SMT)'
data_2022.loc[data_2022['hsCd'] == '8428701000', '분류'] = '적재용 로봇'
data_2022.loc[data_2022['hsCd'] == '8427103000', '분류'] = '무인운반로봇(AGV)'
data_2022.loc[data_2022['hsCd'] == '8428702000', '분류'] = '무인운반로봇(8427 제외)'
data_2022.loc[data_2022['hsCd'] == '8428709000', '분류'] = '기타 무인운반로봇'
data_2022.loc[data_2022['hsCd'] == '8508111000', '분류'] = '로봇청소기'
data_2022.loc[data_2022['hsCd'] == '8508192000', '분류'] = '기타로봇청소기'
data_2022

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
0,-7585823,5262184,-,12848007,-,-,-,총계,0
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
...,...,...,...,...,...,...,...,...,...
1466,-1810,251,8508192000,2061,US,미국,로봇형,2022.11,기타로봇청소기
1467,-114257,0,8508192000,114257,CN,중국,로봇형,2022.12,기타로봇청소기
1468,-364,0,8508192000,364,JP,일본,로봇형,2022.12,기타로봇청소기
1469,226,226,8508192000,0,SG,싱가포르,로봇형,2022.12,기타로봇청소기
1470,-506,0,8508192000,506,US,미국,로봇형,2022.12,기타로봇청소기

In [21]:
data_2022.loc[0, '분류'] = '구분'
data_2022

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
0,-7585823,5262184,-,12848007,-,-,-,총계,구분
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
...,...,...,...,...,...,...,...,...,...
1466,-1810,251,8508192000,2061,US,미국,로봇형,2022.11,기타로봇청소기
1467,-114257,0,8508192000,114257,CN,중국,로봇형,2022.12,기타로봇청소기
1468,-364,0,8508192000,364,JP,일본,로봇형,2022.12,기타로봇청소기
1469,226,226,8508192000,0,SG,싱가포르,로봇형,2022.12,기타로봇청소기
1470,-506,0,8508192000,506,US,미국,로봇형,2022.12,기타로봇청소기

In [35]:
data_2022.loc[(data_2022['expDlr'] == 0) & (data_2022['impDlr'] == 0)]

Empty DataFrame
Columns: [balPayments, expDlr, hsCd, impDlr, statCd, statCdCntnKor1, statKor, year, 분류]
Index: []

In [6]:
data_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471 entries, 0 to 1470
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   balPayments     1471 non-null   int64
 1   expDlr          1471 non-null   int64
 2   hsCd            1471 non-null   object
 3   impDlr          1471 non-null   int64
 4   statCd          1471 non-null   object
 5   statCdCntnKor1  1471 non-null   object
 6   statKor         1471 non-null   object
 7   year            1471 non-null   object
 8   분류              1471 non-null   object
dtypes: int64(3), object(6)
memory usage: 103.6+ KB

In [7]:
country=data_2022['statCdCntnKor1'].value_counts().reset_index().values.tolist()
country

[['중국', 166],
 ['일본', 141],
 ['미국', 114],
 ['베트남', 89],
 ['독일', 79],
 ['인도', 70],
 ['싱가포르', 48],
 ['홍콩', 42],
 ['대만', 41],
 ['말레이시아', 39],
 ['폴란드', 36],
 ['튀르키예', 34],
 ['영국', 34],
 ['태국', 32],
 ['네덜란드', 31],
 ['헝가리', 31],
 ['멕시코', 30],
 ['이탈리아', 27],
 ['이스라엘', 25],
 ['캐나다', 25],
 ['슬로바키아', 24],
 ['프랑스', 24],
 ['호주', 21],
 ['브라질', 20],
 ['-', 18],
 ['오스트리아', 18],
 ['인도네시아', 18],
 ['러시아 연방', 17],
 ['체코공화국', 16],
 ['스웨덴', 15],
 ['덴마크', 14],
 ['이집트', 13],
 ['스위스', 13],
 ['스페인', 13],
 ['필리핀', 9],
 ['벨기에', 6],
 ['루마니아', 6],
 ['아르헨티나', 6],
 ['슬로베니아', 5],
 ['핀란드', 5],
 ['아랍에미리트 연합', 4],
 ['불가리아', 4],
 ['뉴질랜드', 4],
 ['크로아티아', 4],
 ['포루투갈', 4],
 ['카타르', 3],
 ['콜롬비아', 3],
 ['노르웨이', 2],
 ['사이프러스', 2],
 ['남아프리카공화국', 2],
 ['우즈베키스탄', 2],
 ['방글라데시', 2],
 ['우크라이나', 1],
 ['몽골', 1],
 ['괌', 1],
 ['수단', 1],
 ['라트비아', 1],
 ['알제리', 1],
 ['파나마', 1],
 ['리투아니아', 1],
 ['페루', 1],
 ['파키스탄', 1],
 ['세르비아', 1],
 ['이란', 1],
 ['캄보디아', 1],
 ['칠레', 1],
 ['카자흐스탄', 1],
 ['안타티카', 1],
 ['리히텐슈타인', 1],
 ['아일랜드', 1],
 ['룩셈부르그', 1],
 ['모리셔스', 1]]

In [52]:
data_2022.loc[data_2022['statCdCntnKor1']=='멕시코']

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
130,1187142,1187142,8479509000,0,MX,멕시코,기타,2022.01,기타 산업용 로봇
158,450020,450020,8479509000,0,MX,멕시코,기타,2022.02,기타 산업용 로봇
189,857130,857130,8479509000,0,MX,멕시코,기타,2022.03,기타 산업용 로봇
221,770300,770300,8479509000,0,MX,멕시코,기타,2022.04,기타 산업용 로봇
254,138370,138370,8479509000,0,MX,멕시코,기타,2022.05,기타 산업용 로봇
288,191458,191458,8479509000,0,MX,멕시코,기타,2022.06,기타 산업용 로봇
317,27100,27100,8479509000,0,MX,멕시코,기타,2022.07,기타 산업용 로봇
347,987278,987278,8479509000,0,MX,멕시코,기타,2022.08,기타 산업용 로봇
377,1048389,1048389,8479509000,0,MX,멕시코,기타,2022.09,기타 산업용 로봇
413,2931879,2973696,8479509000,41817,MX,멕시코,기타,2022.10,기타 산업용 로봇
446,8525509,8525509,8479509000,0,MX,멕시코,기타,2022.11,기타 산업용 로봇
482,2956129,2956129,8479509000,0,MX,멕시코,기타,2022.12,기타 산업용 로봇
509,206131,206131,8515211010,0,MX,멕시코,로봇형,2022.02,관용접 로봇
556,1380003,1380003,8515211010,0,MX,멕시코,로봇형,2022.10,관용접 로봇
572,1920,1920,8515211010,0,MX,멕시코,로봇형,2022.12,관용접 로봇
608,22190,22190,8515219010,0,MX,멕시코,로봇형,2022.07,저항용접 로봇
625,44380,44380,8515219010,0,MX,멕시코,로봇형,2022.11,저항용접 로봇
665,8226,8226,8515311010,0,MX,멕시코,로봇형,2022.10,교류아크용접 로봇
736,158655,158655,8424202010,0,MX,멕시코,로봇형,2022.08,도장 로봇
772,346134,346134,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.02,전자부품장착기(SMT)
788,692268,692268,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.03,전자부품장착기(SMT)
831,-615,0,8479892010,615,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.05,전자부품장착기(SMT)
852,98638,98638,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.06,전자부품장착기(SMT)
871,2306,2306,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.07,전자부품장착기(SMT)
887,12082,12082,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.08,전자부품장착기(SMT)
900,409412,409412,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.09,전자부품장착기(SMT)
943,8181,8181,8479892010,0,MX,멕시코,인쇄회로조립품 제조에 전용 또는 주로 사용되는 종류의 것,2022.12,전자부품장착기(SMT)
1090,356255,356255,8428701000,0,MX,멕시코,적재용 로봇(소호 제8479.50호의 것은 제외한다),2022.06,적재용 로봇
1220,12031,12031,8428709000,0,MX,멕시코,기타,2022.08,기타 무인운반로봇
1250,783759,783759,8428709000,0,MX,멕시코,기타,2022.12,기타 무인운반로봇

In [57]:
data_2022['year'] = pd.to_datetime(data_2022['year'])
data_2022

ParserError: Unknown string format: 총계

In [8]:
data_2022.loc[data_2022['year']=='총계']

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
0,-7585823,5262184,-,12848007,-,-,-,총계,0
99,412385,464790,-,52405,-,-,-,총계,0
113,17549033,183697542,-,166148509,-,-,-,총계,0
496,9059213,17856853,-,8797640,-,-,-,총계,0
573,37217,43129,-,5912,-,-,-,총계,0
578,-37734,0,-,37734,-,-,-,총계,0
581,-1388747,4487399,-,5876146,-,-,-,총계,0
630,-2794451,4220265,-,7014716,-,-,-,총계,0
674,-2167331,315977,-,2483308,-,-,-,총계,0
717,3147708,7540279,-,4392571,-,-,-,총계,0
744,86072664,186506028,-,100433364,-,-,-,총계,0
951,-4251780,7745529,-,11997309,-,-,-,총계,0
1077,-574048,2078682,-,2652730,-,-,-,총계,0
1103,9112827,17770416,-,8657589,-,-,-,총계,0
1144,-6409969,5991529,-,12401498,-,-,-,총계,0
1174,1388130,10424341,-,9036211,-,-,-,총계,0
1256,-142188325,11584476,-,153772801,-,-,-,총계,0
1416,-829040,69369,-,898409,-,-,-,총계,0

In [69]:
data_2022.loc[data_2022['hsCd'] == '8479501000']

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
5,-182798,0,8479501000,182798,TW,대만,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
...,...,...,...,...,...,...,...,...,...
94,323245,323245,8479501000,0,IN,인도,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.12,산업용 로보트
95,-843152,0,8479501000,843152,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.12,산업용 로보트
96,-261056,0,8479501000,261056,TW,대만,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.12,산업용 로보트
97,-71971,0,8479501000,71971,US,미국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.12,산업용 로보트
98,31000,31000,8479501000,0,VN,베트남,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.12,산업용 로보트

*총계는 hsCd코드별 1년의 합계 같음 -> 1년 합계가 필요?

In [9]:
# data_2022_re=data_2022.drop[data_2022['year']=='총계', axis=0]
# data_2022_re
data_2022_re = data_2022[data_2022.year != '총계']
data_2022_re

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
5,-182798,0,8479501000,182798,TW,대만,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022.01,산업용 로보트
...,...,...,...,...,...,...,...,...,...
1466,-1810,251,8508192000,2061,US,미국,로봇형,2022.11,기타로봇청소기
1467,-114257,0,8508192000,114257,CN,중국,로봇형,2022.12,기타로봇청소기
1468,-364,0,8508192000,364,JP,일본,로봇형,2022.12,기타로봇청소기
1469,226,226,8508192000,0,SG,싱가포르,로봇형,2022.12,기타로봇청소기
1470,-506,0,8508192000,506,US,미국,로봇형,2022.12,기타로봇청소기

In [32]:
# data_2022_re['year'] = pd.to_datetime(data_2022_re['year'])
data_2022_re['year'] = pd.to_datetime(data_2022_re['year']).dt.strftime('%Y-%m')
data_2022_re.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1453 entries, 1 to 1470
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   balPayments     1453 non-null   int64
 1   expDlr          1453 non-null   int64
 2   hsCd            1453 non-null   object
 3   impDlr          1453 non-null   int64
 4   statCd          1453 non-null   object
 5   statCdCntnKor1  1453 non-null   object
 6   statKor         1453 non-null   object
 7   year            1453 non-null   object
 8   분류              1453 non-null   object
dtypes: int64(3), object(6)
memory usage: 113.5+ KB

In [29]:
data_2022_re

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
1,-549314,0,8479501000,549314,CN,중국,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022-01-01,산업용 로보트
2,-34934,0,8479501000,34934,DE,독일,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022-01-01,산업용 로보트
3,759856,759856,8479501000,0,ID,인도네시아,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022-01-01,산업용 로보트
4,-256494,0,8479501000,256494,JP,일본,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022-01-01,산업용 로보트
5,-182798,0,8479501000,182798,TW,대만,"제8479.81호, 제8479.82호, 제8479.89.9010호, 제8479.89...",2022-01-01,산업용 로보트
...,...,...,...,...,...,...,...,...,...
1466,-1810,251,8508192000,2061,US,미국,로봇형,2022-11-01,기타로봇청소기
1467,-114257,0,8508192000,114257,CN,중국,로봇형,2022-12-01,기타로봇청소기
1468,-364,0,8508192000,364,JP,일본,로봇형,2022-12-01,기타로봇청소기
1469,226,226,8508192000,0,SG,싱가포르,로봇형,2022-12-01,기타로봇청소기
1470,-506,0,8508192000,506,US,미국,로봇형,2022-12-01,기타로봇청소기

In [12]:
result = data_2022_re.groupby('year')['impDlr'].sum().reset_index()
print(result)

       year    impDlr
0   2022-01  27427280
1   2022-02  47594635
2   2022-03  47836927
3   2022-04  47593447
4   2022-05  58984500
5   2022-06  49369238
6   2022-07  43784696
7   2022-08  33948667
8   2022-09  34513463
9   2022-10  40946650
10  2022-11  31080570
11  2022-12  44426786

In [13]:
result2 = data_2022_re.groupby(['year', 'hsCd'])['impDlr'].sum().reset_index()
print(result2)

        year        hsCd  impDlr
0    2022-01  8424202010   87882
1    2022-01  8427103000  516034
2    2022-01  8428701000    1283
3    2022-01  8428702000   26874
4    2022-01  8428709000  107017
..       ...         ...     ...
189  2022-12  8508192000  115127
190  2022-12  8515211010  535282
191  2022-12  8515219010   15830
192  2022-12  8515311010  326777
193  2022-12  8515319010  125277

[194 rows x 3 columns]

In [35]:
result3 = data_2022_re.groupby(['year','statCdCntnKor1','hsCd'])['impDlr'].sum().reset_index()
year_coun=pd.DataFrame(result3)
year_coun

         year statCdCntnKor1        hsCd  impDlr
0     2022-01           네덜란드  8508111000       0
1     2022-01             대만  8479501000  182798
2     2022-01             대만  8479509000   22797
3     2022-01             대만  8479892090     195
4     2022-01             대만  8508111000       0
...       ...            ...         ...     ...
1448  2022-12             호주  8508111000       0
1449  2022-12             홍콩  8479509000   30268
1450  2022-12             홍콩  8479892010       0
1451  2022-12             홍콩  8479892090       0
1452  2022-12             홍콩  8508111000     240

[1453 rows x 4 columns]

In [79]:
hs = ['8479501000','8479502000','8479509000','8515211010','8515212010','8515213010','8515219010','8515311010','8515319010','8486309020','8424202010','8479892010','8479892090','8428701000','8427103000','8428702000','8428709000','8508111000','8508192000']
month_sum=[]

In [41]:
filtered_df

,balPayments,expDlr,hsCd,impDlr,statCd,statCdCntnKor1,statKor,year,분류
100,2,2,8479502000,0,SG,싱가포르,제8479.89-9080호의 것,2022.01,산업용 로보트

In [30]:
total_impDlr

1024521