In [3]:
import pandas as pd

## 월별 hs코드별 수출합계

In [87]:
def export_sum(start_date, end_date):
    df_month=pd.read_excel('data_month.xlsx',)
    filtered_dataframe = df_month[(df_month['기간'] >= start_date) & (df_month['기간'] <= end_date)]
    월별HS코드별합계=filtered_dataframe.groupby(['기간','품목'])[['수출금액','수입금액','무역수지']].sum()
    월별HS코드별합계=월별HS코드별합계.sort_values('기간',ascending=False).reset_index()

    월별HS코드별합계=월별HS코드별합계.fillna(method='ffill')#nan넣기
    월별HS코드별수출합계=월별HS코드별합계.pivot(index='품목',columns='기간',values='수출금액')
    월별HS코드별수출합계=월별HS코드별수출합계[sorted(list(월별HS코드별수출합계.columns),reverse=True)].reset_index() #순서변경

    index=[5,6,7,12,13,14,15,16,17,0,8,9,2,1,3,4,10,11]
    index_name=['산업용 로보트','산업용 로보트','기타 산업용 로봇','과용접 로봇','봉합용접 로봇','바트용접 로봇','저항용접 로봇','교류아크용접 로봇','기타 아크용접 로봇','도장 로봇','전자부품장차기(SMT)','기타 전자부품장착기(SMT)','적재용 로봇','무인운반로봇(AVG)','무인운반로봇(8427제외)','기타 무인운반로봇','로봇청소기','기타로봇청소기']
    월별HS코드별수출합계=월별HS코드별수출합계.reindex(index)
    월별HS코드별수출합계.insert(1,'구분',index_name)
    월별HS코드별수출합계=월별HS코드별수출합계.fillna(0)
    return 월별HS코드별수출합계

월별HS코드별수출= export_sum(
start_date = float(input("시작날짜 (ex. 2023.01)")),
end_date = float(input("종료날짜 (ex. 2023.01)"))
)
월별HS코드별수출.to_excel('월별HS코드별수출합계.xlsx',index=False) #엑셀로 저장
월별HS코드별수출
  #  월별HS코드별수출합계.to_excel('월별HS코드별수출합계.xlsx',index=False)
   # 월별HS코드별수출합계

/var/folders/6z/58l3nmj17n57c95ccdfs_yxr0000gn/T/ipykernel_18995/2324728681.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  월별HS코드별합계=월별HS코드별합계.fillna(method='ffill')#nan넣기

기간,품목,구분,2023.08,2023.07,2023.06,2023.05,2023.04,2023.03,2023.02,2023.01
5,8.479501e+09,산업용 로보트,440.0,481.0,1017.0,47.0,279.0,291.0,200.0,66.0
6,8.479502e+09,산업용 로보트,44.0,134.0,397.0,140.0,4.0,175.0,38.0,73.0
7,8.479509e+09,기타 산업용 로봇,7329.0,9883.0,12063.0,13917.0,9857.0,14361.0,20331.0,10234.0
12,8.515211e+09,과용접 로봇,154.0,3392.0,5754.0,335.0,1057.0,286.0,264.0,496.0
13,8.515212e+09,봉합용접 로봇,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,8.515219e+09,바트용접 로봇,1214.0,118.0,168.0,0.0,98.0,131.0,0.0,40.0
15,8.515311e+09,저항용접 로봇,113.0,10.0,735.0,426.0,0.0,167.0,187.0,18.0
16,8.515319e+09,교류아크용접 로봇,2583.0,735.0,775.0,25.0,0.0,464.0,0.0,0.0
17,0.000000e+00,기타 아크용접 로봇,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,8.424202e+09,도장 로봇,420.0,0.0,1063.0,2388.0,334.0,2.0,34.0,0.0
8,8.479892e+09,전자부품장차기(SMT),10571.0,15273.0,7952.0,15285.0,14046.0,21848.0,9571.0,8838.0
9,8.479892e+09,기타 전자부품장착기(SMT),563.0,167.0,15.0,89.0,129.0,263.0,5.0,3.0
2,8.428701e+09,적재용 로봇,0.0,0.0,397.0,0.0,34.0,0.0,0.0,100.0
1,8.427103e+09,무인운반로봇(AVG),1005.0,12.0,1420.0,1448.0,5518.0,175.0,2271.0,4.0
3,8.428702e+09,무인운반로봇(8427제외),1182.0,230.0,2037.0,289.0,918.0,1353.0,346.0,83.0
4,8.428709e+09,기타 무인운반로봇,2730.0,3304.0,341.0,367.0,355.0,779.0,642.0,1517.0
10,8.508111e+09,로봇청소기,122.0,126.0,24.0,145.0,446.0,979.0,117.0,573.0
11,8.508192e+09,기타로봇청소기,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0

## 연도별 국가별 수출입 합계

In [85]:
def year_contry_sum(contry, start_year, end_year):
    df_year=pd.read_excel('data_year.xlsx',)
    filtered_dataframe = df_year[df_year['국가'].isin(contry)&(df_year['기간'] >= start_year) & (df_year['기간'] <= end_year)]
    국가별합계=filtered_dataframe.groupby(['기간','국가'])[['수출금액','수입금액','무역수지']].sum().sort_values(['기간','수출금액'],ascending=False)
    return 국가별합계



국가별 = year_contry_sum(
contry = list(input("조회하고 싶은 나라를 입력하세요 (띄어쓰기로 구분)").split()),
start_year = int(input("시작 년도")),
end_year = int(input("종료 년도"))
)

국가별.to_excel('연도별국가별수출입합계.xlsx',index=False) #엑셀로 저장
국가별
# 국가별합계.to_excel('국가별합계.xlsx')

            수출금액    수입금액    무역수지
기간   국가
2022 중국   159842  196507  -36662
     홍콩    24737      59   24678
     멕시코   24656      43   24613
     일본     2617  176925 -174306
2021 홍콩   210665     358  210307
     중국    84200  138902  -54701
     멕시코   20163       0   20163
     일본     3562  225763 -222201
2020 홍콩   133492     198  133295
     중국    62421  121715  -59296
     멕시코   11438       0   11438
     일본     3571  155054 -151483
2019 중국   106008   89942   16065
     홍콩    90472     392   90081
     멕시코    7577       0    7577
     일본     4649  172018 -167369
2018 중국   116534   50712   65822
     홍콩    97176     585   96592
     멕시코   12766    1706   11061
     일본     3315  174819 -171504

## 연도별 HS코드별 총 수출입 무역수지 통계

In [80]:
def year_sum(start_year, end_year):
    df_year=pd.read_excel('data_year.xlsx',)
    filtered_dataframe = df_year[(df_year['기간'] >= start_year) & (df_year['기간'] <= end_year)]
    연도별HS코드별합계=filtered_dataframe.groupby(['기간','품목'])[['수출금액','수입금액','무역수지']].sum()
    연도별HS코드별합계=연도별HS코드별합계.sort_values('기간',ascending=False)
    return 연도별HS코드별합계

연도별HS코드별 = year_sum(
    start_year = int(input("시작년도")),
    end_year = int(input("종료년도"))
)

연도별HS코드별.to_excel('연도별HS코드별합계.xlsx',index=False) #엑셀로 저장
연도별HS코드별

                   수출금액   수입금액   무역수지
기간   품목
2023 8515319010    4583   1864   2721
     8479892010  103381  48978  54403
     8424202010    4240   3337    903
     8427103000   11854   5700   6154
     8428701000     531   2216  -1685
...                 ...    ...    ...
2018 8515212010       0    842   -842
     8515219010    7457   2977   4481
     8515311010   10069   6603   3465
     8515319010       4    661   -657
     8424202010   10660  10991   -332

[88 rows x 3 columns]